.main {
    display: flex;
    flex-direction: column;
    width: min(100%-20px);
    padding: 0 20px;
    justify-content: center;
    min-height: 90vh;
    margin: 0 20px;
  }
  
  .pages {
    display: flex;
    margin: auto;
    height: 100%;
    width: 100%;
    color: rgb(28, 148, 195);
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 2px solid rgb(44, 179, 232);
    border-radius: 10px;
  }
  
  .wordsGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
  }
  